@import "../../node_modules/bootstrap/scss/bootstrap";

$verde: #728164;
$amarelo: #D8C2A0;
$preto: #3c3938;
$blackasa: #1b1b1b;
$branco: #fff;
$cinza: #818181;

body{
    background-color: $branco;
}
hr{
    color: $amarelo;
    background-color: $amarelo;
    height: 0.5px;
    margin: 30px;
}
.btn-success{
    color: #fff;
    background-color: $verde;
    border-color: $verde;
    border-radius: 30px;
    padding: 10px 40px 10px 40px;
}
.btn-success:hover{
    color: #fff;
    background-color: $verde;
    border-color:$verde;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle{
    color: #fff;
    background-color:$verde;
    border-color: $verde;
}
.btn-success:focus, .btn-success.focus{
    box-shadow: none;
}
.dest{
    h3{
        font-size: 2em;
    }
}
.base-bg{
    padding: 100px 100px 100px 100px;
}
.navbar{
    font-size: 12px;
    border-bottom: 2px solid $amarelo;
    img{
        width: 90px;
    }
    .social{
        margin-top: 6px;
        width: 20px;
        height: 20px;
    }
}
h1{
    color: $verde;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

h3{
    font-size: 1rem;
}

// noticias
.arg{
    width: 140px;
    margin-top: -7px;
}
.layed{
    position: absolute;
    bottom: 0;
}

.big-grid-overlay.layed{
    padding: 230px 40px 15px 27px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    color: white;
}

.big-grid{
    margin-bottom: 20px;
}

.col-sm-6.relative a::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
}
.col-sm-4.relative a::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
}
.col-sm-12.relative a::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #fff0;
}
.col-12.relative a::before{
    content: " ";
    position: absolute;
    height: 101%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
}


.grid-inner{
    overflow: hidden !important;
    display: block;
    position: relative;
}

.grid-inner img{
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-width: none;
    width: 100%;
}

.col-sm-6.relative a:hover img{
    opacity: 0.9;
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}
.col-sm-4.relative a:hover img{
    opacity: 0.9;
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}
.col-sm-12.relative a:hover img{
    opacity: 0.9;
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}
.col-12.relative a:hover img{
    opacity: 0.9;
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}

// noticias

.bg-niver{
    background-color: $verde;
    color: $branco;
    a{
        text-decoration: none;
    }
    // carousel niver
    .swiper-container{
        width: 100%;
        height: 100%;
    }
    .swiper-slide{
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img{
            border-radius: 30px;
        }
    }
    // carousel niver
    p{
        font-family: fantasy;
        position: absolute;
        margin-top: 50px;
        margin-bottom: 0rem;
        text-shadow: 0.1em 0.1em #00000082
    }
    h2{
        font-size: 30px;
        color: $amarelo;
        margin-bottom:  30px;
        font-family: inherit;
        font-weight: 200;
        letter-spacing: 0.52em;
        text-decoration: none;
    }
    h4{
        color: $branco;
        font-weight: 400;
        line-height: 1.2;
        position: absolute;
        margin-top: 70px;
        margin-bottom: 0rem;
        text-shadow: 1px 2px #00000082;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        background-image: url(../img/right.svg);
        right: 10px;
        left: auto;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        background-image: url(../img/left.svg);
        left: 10px;
        right: auto;
    }
}

.patro{
    margin-top: -20px;
}
.cul{
    padding: 100px 15px 100px 15px;
    h2{
        color: $verde;
        margin-bottom: 30px;
        font-family: inherit;
        font-weight: 200;
        letter-spacing: 0.52em;
        text-decoration: none;
    }
}

.asa{
    color: $branco;
    margin-top: 100px;
    padding: 100px 15px 100px 15px;
    background-color: $blackasa;
    a{
        color: $branco;
        text-decoration: none;
    }
    .row{
        display: inline-flex;
    }
    .base-asa{
        img{
            height: 16px;
            margin: 14px 10px 40px 10px;
        }
    }
    h3{
        margin-top: 10px;
    }
}

.fute{
    img{
        width: 50px;
        height: 50px;
    }
    .boarde-solid{
        border: 1px solid $amarelo;
        border-radius: 14px 14px 14px 14px;
        padding: 20px 0px 50px 0px;
        h3{
            padding: 1px 30px 20px 30px;
        }
        h2{
            margin: 5px 6px 0px 7px;
        }
        p{
            font-family: times;
            color: $amarelo;
        }
    }
}

.bg-art{
    a{
        text-decoration: none;
    }
    // carousel niver
    .swiper-container{
        width: 100%;
        height: 100%;
    }

    h2{
        font-size: 30px;
        color: $verde;
        margin-bottom:  30px;
        font-family: inherit;
        font-weight: 200;
        letter-spacing: 0.52em;
        text-decoration: none;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        background-image: url(../img/right.svg);
        right: 10px;
        left: auto;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        background-image: url(../img/left.svg);
        left: 10px;
        right: auto;
    }
    h4{
        color: $verde;
        text-align: center;
        margin-top: 10px;
    }
    p{
        color: $cinza;
        font-weight: 100;
        text-align: center;
        margin-bottom: 0px;
    }
}

footer{
    background-color: #F8F8F8;
    h2{
        color: $verde;
        letter-spacing: 0.52em;
        font-weight: 200;
        text-decoration: none;
        margin-bottom: 30px;
    }
    input{
        margin-bottom: 15px;
    }
    textarea{
        height: 150px;
    }
    button{
        margin-top: 30px;
    }
    img{
        width: 20px;
        height: 20px;
        margin-top: 70px;
        margin-right: 10px;
    }
    p{
        color: $verde;
        margin-top: 5px;
    }
}

.form-control{
    border: 1px solid #ffffff;
    border-radius: 0px;
}

@media screen and (max-width: 425px){
    .base-bg{
        padding: 45px 30px 45px 30px;
        h1 {
            color: #728164;
            font-size: 1.5rem;
        }
    }
    .bg-niver{
        h2{
            font-size: 1.2em;
        }
    }
    .bg-art{
        h2{
            font-size: 15px;
        }
    }
    .asa {
        margin-top: 45px;
        padding: 45px 15px 45px 15px;
    }
    .cul {
        padding: 45px 15px 45px 15px;
    }
    .dest{
        h3{
            font-size: 1.3em;
        }
    }
}
